In [14]:
import pandas as pd
from gpt3pipe import clean_text

In [7]:
df = pd.read_csv("teahslabels.csv", header = 0, encoding = "utf8")

In [8]:
df.columns.values

array(['#', 'SVM', 'SVM.1', 'Natural Validation', 'ServRep Validation',
       'Unnamed: 5', 'metatag', 'Client Script', 'DIT / Dialog Act',
       'Organic Study Pose'], dtype=object)

In [10]:
df.drop(columns = ["#", "SVM.1", 'Unnamed: 5', 'metatag', 'DIT / Dialog Act', 'Organic Study Pose'], inplace = True)

In [12]:
df.columns = ["SVM_label", "Natural_Validation_Label", "ServRep_Validation_Label", "Phrase_text"]

In [13]:
df.head()

,SVM_label,Natural_Validation_Label,ServRep_Validation_Label,Phrase_text
0,negative,negative,negative,Sorry I don't understand.
1,negative,negative,negative,Sorry but I didn't understand that.
2,negative,negative,negative,I'm so sorry to hear that.
3,negative,negative,negative,still didn't quite get that.
4,negative,negative,negative,Sorry Shaun.

In [15]:
clean_text(df)

,SVM_label,Natural_Validation_Label,ServRep_Validation_Label,Phrase_text
0,negative,negative,negative,Sorry I don't understand.
1,negative,negative,negative,Sorry but I didn't understand that.
2,negative,negative,negative,I'm so sorry to hear that.
3,negative,negative,negative,still didn't quite get that.
4,negative,negative,negative,Sorry Shaun.
...,...,...,...,...
495,neutral,neutral,positive,I can explain how to log in and set or change ...
496,neutral,neutral,positive,Alternatively if you would rather speak with a...
497,negative,neutral,positive,if you're not receiving any income at all just...
498,negative,negative,positive,If you don't like the idea of a face looking a...
499,negative,negative,positive,If you're suffering financial hardship.

In [16]:
"neutral" in "neutral/positive"

True

In [17]:
"positive" in "positive"

True

In [40]:
col_a = ["Hello", "My name is", "OK"]
col_b = ["Hello there", "Tracey", "OKKKK"]
test_df = pd.DataFrame({"a": col_a, "b": col_b})

In [41]:
test_df['c'] = np.zeros(shape = test_df.shape[0], dtype = np.int8)

In [50]:
test_df.shape[0]

2

In [23]:
import numpy as np

In [43]:
test_df['c']

0    0
1    0
Name: c, dtype: int8

In [44]:
for i in range(test_df.shape[0]):
    test_df.loc[i, "c"] = (test_df['a'][i] in test_df['b'][i])

In [46]:
test_df

            a            b      c
0       Hello  Hello there   True
1  My name is       Tracey  False

In [47]:
test_df['c'] = test_df['c'].astype(int)

In [48]:
test_df

            a            b  c
0       Hello  Hello there  1
1  My name is       Tracey  0