In [24]:
import pandas as pd
import numpy as np
from test2 import line_prepender
from test2 import clean_text

In [2]:
out_original = pd.read_csv("output/outfinal.txt", header = 0)
out_descriptive = pd.read_csv("output/outfinal_descriptive_zeroshot.txt", header = 0)

In [6]:
out_original.columns = ["Valence_original", "Arousal_original", "Phrase_text"]

In [7]:
out_descriptive.columns = ["Valence_descriptive", "Arousal_descriptive", "Phrase_text"]

In [12]:
merged = out_original.merge(out_descriptive.drop_duplicates(subset = ["Phrase_text"]), how = "left")

In [14]:
merged["match"] = np.where(merged['Arousal_original'] == merged['Arousal_descriptive'], 1, 0)

In [19]:
merged.drop(columns = ["Valence_descriptive"], inplace = True)

In [20]:
merged

,Valence_original,Arousal_original,Phrase_text,Arousal_descriptive,match
0,1.0,1.0,zeal,1.0,1
1,1.0,1.0,youthful,1.0,1
2,1.0,1.0,youre awesome buddy!,1.0,1
3,1.0,1.0,your voice is beautiful,1.0,1
4,1.0,1.0,your vehicle is pretty!,1.0,1
...,...,...,...,...,...
14477,-1.0,1.0,"""Being able to attract women"" shouldn't be the...",1.0,1
14478,-1.0,1.0,!! Itz such an confusing website,0.0,0
14479,-1.0,1.0,my friends' and my regrets at drunken behaviour,1.0,1
14480,-1.0,1.0,"I thought of you today, it reminded me to tak...",NaN,0
14481,-1.0,1.0,Do NOT buy from this company!! They're produc...,1.0,1

In [21]:
merged = merged[["Phrase_text", "Arousal_original", "Arousal_descriptive", "match"]]

In [22]:
merged

,Phrase_text,Arousal_original,Arousal_descriptive,match
0,zeal,1.0,1.0,1
1,youthful,1.0,1.0,1
2,youre awesome buddy!,1.0,1.0,1
3,your voice is beautiful,1.0,1.0,1
4,your vehicle is pretty!,1.0,1.0,1
...,...,...,...,...
14477,"""Being able to attract women"" shouldn't be the...",1.0,1.0,1
14478,!! Itz such an confusing website,1.0,0.0,0
14479,my friends' and my regrets at drunken behaviour,1.0,1.0,1
14480,"I thought of you today, it reminded me to tak...",1.0,NaN,0
14481,Do NOT buy from this company!! They're produc...,1.0,1.0,1

In [23]:
merged.to_csv('merged.txt', header = False, index = None, sep = ",", mode = 'a')

In [25]:
line_prepender("merged.txt", "SENTENCE,AROUSAL_ORIGINAL,AROUSAL_DESCRIPTIVE,MATCHED")