In [1]:
import pandas as pd
import numpy as np
from test2 import clean_text

In [2]:
out_original = pd.read_csv("output/outfinal.txt", header = 0)

In [3]:
out_descriptive = pd.read_csv("missing-data/data-without-gpt-output-descriptive.txt", sep = ":->", header = None, engine = "python")

In [4]:
out_original.columns = ["Sentiment", "Arousal", "Phrase_text"]

In [5]:
out_descriptive.columns = ["Sentiment", "Phrase_text"]

In [6]:
pd.merge(out_original, out_descriptive, on = "Phrase_text")

,Sentiment_x,Arousal,Phrase_text,Sentiment_y
0,1.0,1.0,you look real,1.0
1,1.0,1.0,you know lucky that,1.0
2,1.0,1.0,you have a nice day too,1.0
3,1.0,1.0,yeah quite a few I quite like,1.0
4,1.0,1.0,yeah it's a happy calm,1.0
...,...,...,...,...
1811,-1.0,0.0,> IMO the actual root of people's annoyance is...,-1.0
1812,-1.0,1.0,1. They don't understand football fundamentals...,-1.0
1813,-1.0,0.0,that wont turn up til saturday,-1.0
1814,-1.0,1.0,FAR TOO MANY LATE NITES,-1.0
1815,-1.0,1.0,That literally made my stomach clench. I can'...,-1.0

In [6]:
out_original = clean_text(out_original)

In [8]:
merged = pd.merge(out_original, out_descriptive, on = "Phrase_text", how = "right")

In [9]:
merged

,Sentiment_x,Arousal,Phrase_text,Sentiment_y
0,NaN,NaN,"""that's a weird way to spell """"prison""""""",-1.0
1,1.0,1.0,relaxed and content and wanting to engage with...,1.0
2,0.0,1.0,I had this :,0.0
3,1.0,1.0,it's interesting I am kind of really,1.0
4,0.0,1.0,The news of the company's bankruptcy made scar...,0.0
...,...,...,...,...
2006,-1.0,0.0,> IMO the actual root of people's annoyance is...,-1.0
2007,0.0,1.0,Can anyone confirm the [NAME] likliness? Askin...,0.0
2008,-1.0,1.0,Eww its raining,-1.0
2009,1.0,1.0,worth,1.0
2010,-1.0,1.0,uhh makes me feel unhappy,-1.0

In [11]:
len(out_original[np.isnan(out_original['Arousal'])])

46

In [8]:
missing_data_original_output = pd.read_csv("output/outmissingdata_original.txt", header = 0)

In [9]:
merged_result = pd.merge(missing_data_original_output, out_original, left_on = "SENTENCE", right_on = "Phrase_text", how = "right")

In [10]:
merged_result

,VALENCE,AROUSAL,SENTENCE,Sentiment,Arousal,Phrase_text
0,NaN,NaN,NaN,1.0,1.0,zeal
1,NaN,NaN,NaN,1.0,1.0,youthful
2,NaN,NaN,NaN,1.0,1.0,youre awesome buddy!
3,NaN,NaN,NaN,1.0,1.0,your voice is beautiful
4,NaN,NaN,NaN,1.0,1.0,your vehicle is pretty!
...,...,...,...,...,...,...
14477,NaN,NaN,NaN,-1.0,1.0,"""Being able to attract women"" shouldn't be the..."
14478,NaN,NaN,NaN,-1.0,1.0,!! Itz such an confusing website
14479,NaN,NaN,NaN,-1.0,1.0,my friends' and my regrets at drunken behaviour
14480,NaN,NaN,NaN,-1.0,1.0,"I thought of you today, it reminded me to tak..."
14481,NaN,NaN,NaN,-1.0,1.0,Do NOT buy from this company!! They're produc...

In [11]:
merged_result.drop(columns = ["VALENCE", "SENTENCE"], inplace = True)

In [22]:
merged_result

,AROUSAL,Sentiment,Arousal,Phrase_text
0,NaN,1.0,1.0,zeal
1,NaN,1.0,1.0,youthful
2,NaN,1.0,1.0,youre awesome buddy!
3,NaN,1.0,1.0,your voice is beautiful
4,NaN,1.0,1.0,your vehicle is pretty!
...,...,...,...,...
14477,NaN,-1.0,1.0,"""Being able to attract women"" shouldn't be the..."
14478,NaN,-1.0,1.0,!! Itz such an confusing website
14479,NaN,-1.0,1.0,my friends' and my regrets at drunken behaviour
14480,NaN,-1.0,1.0,"I thought of you today, it reminded me to tak..."
14481,NaN,-1.0,1.0,Do NOT buy from this company!! They're produc...

In [12]:
merged_result.Arousal.fillna(merged_result.AROUSAL, inplace = True)

In [13]:
merged_result.Arousal.values.isnull().any()

AttributeError: 'numpy.ndarray' object has no attribute 'isnull'

In [29]:
pd.merge(merged_result, out_descriptive, left_on = "Phrase_text", right_on = "Phrase_text", how = "right")

,AROUSAL,Sentiment_x,Arousal,Phrase_text,Sentiment_y
0,NaN,NaN,NaN,"""that's a weird way to spell """"prison""""""",-1.0
1,NaN,1.0,1,relaxed and content and wanting to engage with...,1.0
2,NaN,0.0,1,I had this :,0.0
3,NaN,1.0,1,it's interesting I am kind of really,1.0
4,NaN,0.0,1,The news of the company's bankruptcy made scar...,0.0
...,...,...,...,...,...
2006,NaN,-1.0,0,> IMO the actual root of people's annoyance is...,-1.0
2007,NaN,0.0,1,Can anyone confirm the [NAME] likliness? Askin...,0.0
2008,NaN,-1.0,1,Eww its raining,-1.0
2009,NaN,1.0,1,worth,1.0
2010,NaN,-1.0,1,uhh makes me feel unhappy,-1.0

In [32]:
out_descriptive = clean_text(out_descriptive)

In [33]:
pd.merge(merged_result, out_descriptive, left_on = "Phrase_text", right_on = "Phrase_text", how = "right")

,AROUSAL,Sentiment_x,Arousal,Phrase_text,Sentiment_y
0,NaN,NaN,NaN,"""that's a weird way to spell """"prison""""",-1.0
1,NaN,1.0,1,relaxed and content and wanting to engage with...,1.0
2,NaN,0.0,1,I had this :,0.0
3,NaN,1.0,1,it's interesting I am kind of really,1.0
4,NaN,0.0,1,The news of the company's bankruptcy made scar...,0.0
...,...,...,...,...,...
2006,NaN,-1.0,0,> IMO the actual root of people's annoyance is...,-1.0
2007,NaN,0.0,1,Can anyone confirm the [NAME] likliness? Askin...,0.0
2008,NaN,-1.0,1,Eww its raining,-1.0
2009,NaN,1.0,1,worth,1.0
2010,NaN,-1.0,1,uhh makes me feel unhappy,-1.0

In [35]:
merged_descriptive = out_descriptive.merge(merged_result.drop_duplicates(subset=['Phrase_text']), how='left')

In [37]:
df_to_process = merged_descriptive[merged_descriptive["Arousal"].isnull()].drop(columns = ["AROUSAL"])

In [38]:
df_to_process

      Sentiment                                        Phrase_text Arousal
0          -1.0            "that's a weird way to spell ""prison""     NaN
6          -1.0                                  ""You think it's"     NaN
7           0.0  "For example, ""She does not speak Spanish."" ...     NaN
8          -1.0                           "Junk piece, don't buy."     NaN
18          1.0  "And if you are traveling soon, I can help you...     NaN
...         ...                                                ...     ...
1895        1.0                          "ohh I'm not sure, fresh"     NaN
1919        0.0   U_M i saw that on july the 17th. look at ipho...     NaN
1960       -1.0                   "No complexity, boring dialogue"     NaN
1963        0.0                                    is back at work     NaN
1976       -1.0         "chat bot with a face, not more than that"     NaN

[210 rows x 3 columns]

In [ ]:
df_to_process.to_csv("missing-data\merged_newest.txt", header = False, index = None)